.subscribe-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 36px 20px 0 20px;
}

@media (width > 768px) {
	.subscribe-form {
		padding: 36px 0;
		flex-direction: row;
		align-items: start;
		gap: 16px;
	}

	.subscribe-form button {
		margin-top: 40px;
	}
}
