.page-header {
  padding: 32px 20px;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}

@media (width > 768px) {
  .page-header {
    padding: 44px 60px 12px 60px;
    font-size: 46px;
    font-weight: 600;
  }
}
