.account-container {
	padding: 40px 20px;
}
.account-container h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 40px;
}
.bonus-card {
	max-width: 100%;
	max-height: 200px;
	background-color: var(--clr-light-gray-400);
	margin: 0 auto 20px auto;
}
.bonus-card > img {
	max-width: 100%;
	max-height: 131px;
}
.bonus-info {
	padding-inline: 20px;
}
.bonus-info > p {
	display: flex;
	justify-content: space-between;
	padding-inline: 12px;
}
.bonus-info > p:last-child {
	color: var(--clr-light-gray-500);
}
.sign-in-photo {
	display: none;
}

@media (width > 768px) {
	.account-container {
		padding: 80px 60px;
		display: flex;
		gap: 20px;
	}
	.bonus-card {
		max-width: 335px;
		max-height: 242px;
		margin: 0 0 36px 0;
	}
	.profile-container > button {
		max-width: 232px;
	}
	.profile-container,
	.sign-in-form {
		width: 598px;
	}
	.sign-in-photo {
		display: block;
		width: 100%;
	}
	.sign-in-photo > img {
		height: 712px;
		width: 100%;
	}
}
