.products-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 20px 8px 20px;
}

@media (width > 768px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 60px;
    gap: 20px;
  }
}
