footer {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

.footer-sections-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

@media (width > 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
  }
  .footer-sections-container {
    max-width: 662px;
    justify-content: start;
    gap: 121px;
  }
}
